<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand">Notification Sender</span>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/contacts">Contacts</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/scheduled-notifications">Scheduled Notifications</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/compose" Match="NavLinkMatch.All">Send Notification To All</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

}
